// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";

export declare namespace MarketplaceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MarketplaceClient {
    protected readonly _options: NormalizedClientOptions<MarketplaceClient.Options>;

    constructor(options: MarketplaceClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Returns paginated marketplace models with search, price filter, and sort.
     *
     * @param {MktAgiApi.GetMarketplaceModelsRequest} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     *
     * @example
     *     await client.marketplace.listMarketplaceModels()
     */
    public listMarketplaceModels(
        request: MktAgiApi.GetMarketplaceModelsRequest = {},
        requestOptions?: MarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebMarketplaceListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMarketplaceModels(request, requestOptions));
    }

    private async __listMarketplaceModels(
        request: MktAgiApi.GetMarketplaceModelsRequest = {},
        requestOptions?: MarketplaceClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebMarketplaceListResponse>
    > {
        const { search, min_price: minPrice, max_price: maxPrice, sort, order, page, limit } = request;
        const _queryParams: Record<string, unknown> = {
            search,
            min_price: minPrice,
            max_price: maxPrice,
            sort,
            order,
            page,
            limit,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "marketplace/models",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebMarketplaceListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/marketplace/models");
    }
}
