// This file was auto-generated by Fern from our API Definition.
import { normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";
export class MarketplaceClient {
    _options;
    constructor(options = {}) {
        this._options = normalizeClientOptions(options);
    }
    /**
     * Returns paginated marketplace models with search, price filter, and sort.
     *
     * @param {MktAgiApi.GetMarketplaceModelsRequest} request
     * @param {MarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     *
     * @example
     *     await client.marketplace.listMarketplaceModels()
     */
    listMarketplaceModels(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__listMarketplaceModels(request, requestOptions));
    }
    async __listMarketplaceModels(request = {}, requestOptions) {
        const { search, min_price: minPrice, max_price: maxPrice, sort, order, page, limit } = request;
        const _queryParams = {
            search,
            min_price: minPrice,
            max_price: maxPrice,
            sort,
            order,
            page,
            limit,
        };
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, "marketplace/models"),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/marketplace/models");
    }
}
