// This file was auto-generated by Fern from our API Definition.
import { normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";
export class BulletinsClient {
    _options;
    constructor(options = {}) {
        this._options = normalizeClientOptions(options);
    }
    /**
     * Return a paginated list of published bulletins with optional filters.
     *
     * @param {MktAgiApi.GetBulletinsRequest} request
     * @param {BulletinsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.bulletins.listPublishedBulletins()
     */
    listPublishedBulletins(request = {}, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__listPublishedBulletins(request, requestOptions));
    }
    async __listPublishedBulletins(request = {}, requestOptions) {
        const { type: type_, category, section, version, limit, cursor_val: cursorVal, cursor_id: cursorId } = request;
        const _queryParams = {
            type: type_,
            category,
            section,
            version,
            limit,
            cursor_val: cursorVal,
            cursor_id: cursorId,
        };
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, "bulletins"),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            throw new errors.MktAgiApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/bulletins");
    }
    /**
     * Return a single published bulletin by its ID. Returns 404 if not found or expired.
     *
     * @param {MktAgiApi.GetBulletinsIdRequest} request
     * @param {BulletinsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.bulletins.getBulletinById({
     *         id: 1
     *     })
     */
    getBulletinById(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__getBulletinById(request, requestOptions));
    }
    async __getBulletinById(request, requestOptions) {
        const { id } = request;
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `bulletins/${core.url.encodePathParam(id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/bulletins/{id}");
    }
}
