// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";

export declare namespace GatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayClient.Options>;

    constructor(options: GatewayClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Sends a "say hi" prompt to the specified provider+model and returns the response.
     *
     * @param {MktAgiApi.PostGatewayUserIdTestModelRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.NotFoundError}
     * @throws {@link MktAgiApi.TooManyRequestsError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.gateway.testModelConnectivity({
     *         user_id: 1,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public testModelConnectivity(
        request: MktAgiApi.PostGatewayUserIdTestModelRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebTestModelResponse> {
        return core.HttpResponsePromise.fromPromise(this.__testModelConnectivity(request, requestOptions));
    }

    private async __testModelConnectivity(
        request: MktAgiApi.PostGatewayUserIdTestModelRequest,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebTestModelResponse>
    > {
        const { user_id: userId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                `gateway/${core.url.encodePathParam(userId)}/test_model`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebTestModelResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 429:
                    throw new MktAgiApi.TooManyRequestsError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/gateway/{user_id}/test_model",
        );
    }

    /**
     * Returns paginated request logs for the current user.
     *
     * @param {MktAgiApi.GetGatewayLogsRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     *
     * @example
     *     await client.gateway.listRequestLogs()
     */
    public listRequestLogs(
        request: MktAgiApi.GetGatewayLogsRequest = {},
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebListLogsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listRequestLogs(request, requestOptions));
    }

    private async __listRequestLogs(
        request: MktAgiApi.GetGatewayLogsRequest = {},
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebListLogsResponse>
    > {
        const {
            model_id: modelId,
            provider_id: providerId,
            session_id: sessionId,
            status,
            stream,
            date_from: dateFrom,
            date_to: dateTo,
            sort,
            order,
            offset,
            limit,
        } = request;
        const _queryParams: Record<string, unknown> = {
            model_id: modelId,
            provider_id: providerId,
            session_id: sessionId,
            status,
            stream,
            date_from: dateFrom,
            date_to: dateTo,
            sort,
            order,
            offset,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "gateway/logs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebListLogsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/logs");
    }

    /**
     * Returns models that the current authenticated user (via cookie or API key) is allowed to see.
     *
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.gateway.listModelsVisibleToCurrentPrincipal()
     */
    public listModelsVisibleToCurrentPrincipal(
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultAny> {
        return core.HttpResponsePromise.fromPromise(this.__listModelsVisibleToCurrentPrincipal(requestOptions));
    }

    private async __listModelsVisibleToCurrentPrincipal(
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultAny>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "gateway/models",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultAny,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/models");
    }

    /**
     * Returns revenue summary for all models owned by the current user.
     *
     * @param {MktAgiApi.GetGatewaySellerRevenueRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     *
     * @example
     *     await client.gateway.sellerRevenueSummary()
     */
    public sellerRevenueSummary(
        request: MktAgiApi.GetGatewaySellerRevenueRequest = {},
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebSellerRevenueResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sellerRevenueSummary(request, requestOptions));
    }

    private async __sellerRevenueSummary(
        request: MktAgiApi.GetGatewaySellerRevenueRequest = {},
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebSellerRevenueResponse>
    > {
        const { period } = request;
        const _queryParams: Record<string, unknown> = {
            period,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "gateway/seller/revenue",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebSellerRevenueResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/seller/revenue");
    }

    /**
     * Returns paginated daily usage records for the current user.
     *
     * @param {MktAgiApi.GetGatewayUsageRequest} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     *
     * @example
     *     await client.gateway.listUsageRecords()
     */
    public listUsageRecords(
        request: MktAgiApi.GetGatewayUsageRequest = {},
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebListUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listUsageRecords(request, requestOptions));
    }

    private async __listUsageRecords(
        request: MktAgiApi.GetGatewayUsageRequest = {},
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebListUsageResponse>
    > {
        const { model_id: modelId, date_from: dateFrom, date_to: dateTo, sort, order, offset, limit } = request;
        const _queryParams: Record<string, unknown> = {
            model_id: modelId,
            date_from: dateFrom,
            date_to: dateTo,
            sort,
            order,
            offset,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "gateway/usage",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebListUsageResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/usage");
    }
}
