// This file was auto-generated by Fern from our API Definition.
import { normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";
export class UserRoutesClient {
    _options;
    constructor(options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }
    /**
     * Return all routes for the authenticated user
     *
     * @param {MktAgiApi.GetGatewayUserIdRoutesRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.userRoutes.listUserModelRoutes({
     *         user_id: 1
     *     })
     */
    listUserModelRoutes(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__listUserModelRoutes(request, requestOptions));
    }
    async __listUserModelRoutes(request, requestOptions) {
        const { user_id: userId } = request;
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/{user_id}/routes");
    }
    /**
     * Create a user-scoped model_prefix → provider routing override.
     *
     * @param {MktAgiApi.PostGatewayUserIdRoutesRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.ForbiddenError}
     * @throws {@link MktAgiApi.NotFoundError}
     * @throws {@link MktAgiApi.ConflictError}
     *
     * @example
     *     await client.userRoutes.createUserModelRoute({
     *         user_id: 1,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    createUserModelRoute(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__createUserModelRoute(request, requestOptions));
    }
    async __createUserModelRoute(request, requestOptions) {
        const { user_id: userId, body: _body } = request;
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new MktAgiApi.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                case 409:
                    throw new MktAgiApi.ConflictError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/gateway/{user_id}/routes");
    }
    /**
     * Return a single route by ID
     *
     * @param {MktAgiApi.GetGatewayUserIdRoutesIdRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.userRoutes.getUserModelRoute({
     *         user_id: 1,
     *         id: 1
     *     })
     */
    getUserModelRoute(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__getUserModelRoute(request, requestOptions));
    }
    async __getUserModelRoute(request, requestOptions) {
        const { user_id: userId, id } = request;
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes/${core.url.encodePathParam(id)}`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/{user_id}/routes/{id}");
    }
    /**
     * Delete a user route by ID
     *
     * @param {MktAgiApi.DeleteGatewayUserIdRoutesIdRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.userRoutes.deleteUserModelRoute({
     *         user_id: 1,
     *         id: 1
     *     })
     */
    deleteUserModelRoute(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__deleteUserModelRoute(request, requestOptions));
    }
    async __deleteUserModelRoute(request, requestOptions) {
        const { user_id: userId, id } = request;
        const _headers = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes/${core.url.encodePathParam(id)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/gateway/{user_id}/routes/{id}");
    }
    /**
     * Return all access grants for a route
     *
     * @param {MktAgiApi.GetGatewayUserIdRoutesIdGrantsRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.ForbiddenError}
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.userRoutes.listRouteAccessGrants({
     *         user_id: 1,
     *         id: 1
     *     })
     */
    listRouteAccessGrants(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__listRouteAccessGrants(request, requestOptions));
    }
    async __listRouteAccessGrants(request, requestOptions) {
        const { user_id: userId, id } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes/${core.url.encodePathParam(id)}/grants`),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new MktAgiApi.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateway/{user_id}/routes/{id}/grants");
    }
    /**
     * Grant a user access to a private route
     *
     * @param {MktAgiApi.PostGatewayUserIdRoutesIdGrantsRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.ForbiddenError}
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.userRoutes.grantRouteAccess({
     *         user_id: 1,
     *         id: 1,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    grantRouteAccess(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__grantRouteAccess(request, requestOptions));
    }
    async __grantRouteAccess(request, requestOptions) {
        const { user_id: userId, id, body: _body } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes/${core.url.encodePathParam(id)}/grants`),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new MktAgiApi.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/gateway/{user_id}/routes/{id}/grants");
    }
    /**
     * Revoke a user's access to a route
     *
     * @param {MktAgiApi.DeleteGatewayUserIdRoutesIdGrantsTargetUserIdRequest} request
     * @param {UserRoutesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.ForbiddenError}
     * @throws {@link MktAgiApi.NotFoundError}
     *
     * @example
     *     await client.userRoutes.revokeRouteAccess({
     *         user_id: 1,
     *         id: 1,
     *         target_user_id: 1
     *     })
     */
    revokeRouteAccess(request, requestOptions) {
        return core.HttpResponsePromise.fromPromise(this.__revokeRouteAccess(request, requestOptions));
    }
    async __revokeRouteAccess(request, requestOptions) {
        const { user_id: userId, id, target_user_id: targetUserId } = request;
        const _authRequest = await this._options.authProvider.getAuthRequest();
        const _headers = mergeHeaders(_authRequest.headers, this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join((await core.Supplier.get(this._options.baseUrl)) ??
                (await core.Supplier.get(this._options.environment)) ??
                environments.MktAgiApiEnvironment.Default, `gateway/${core.url.encodePathParam(userId)}/routes/${core.url.encodePathParam(id)}/grants/${core.url.encodePathParam(targetUserId)}`),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body,
                rawResponse: _response.rawResponse,
            };
        }
        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new MktAgiApi.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }
        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/gateway/{user_id}/routes/{id}/grants/{target_user_id}");
    }
}
