// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";

export declare namespace AdminMarketplaceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AdminMarketplaceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AdminMarketplaceClient.Options>;

    constructor(options: AdminMarketplaceClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns top models ranked by call count or revenue. Only includes listed/published models.
     *
     * @param {MktAgiApi.GetAdminMarketplaceTopResourcesRequest} request
     * @param {AdminMarketplaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.ForbiddenError}
     *
     * @example
     *     await client.adminMarketplace.topResourcesRankingAdmin()
     */
    public topResourcesRankingAdmin(
        request: MktAgiApi.GetAdminMarketplaceTopResourcesRequest = {},
        requestOptions?: AdminMarketplaceClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebTopResourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__topResourcesRankingAdmin(request, requestOptions));
    }

    private async __topResourcesRankingAdmin(
        request: MktAgiApi.GetAdminMarketplaceTopResourcesRequest = {},
        requestOptions?: AdminMarketplaceClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebTopResourcesResponse>
    > {
        const { sort, limit } = request;
        const _queryParams: Record<string, unknown> = {
            sort,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "admin/marketplace/top-resources",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalAigatewayInternalWebTopResourcesResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new MktAgiApi.ForbiddenError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/admin/marketplace/top-resources",
        );
    }
}
