// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as MktAgiApi from "../../../index.js";

export declare namespace WisdomCommunityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WisdomCommunityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WisdomCommunityClient.Options>;

    constructor(options: WisdomCommunityClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List communities for the current user with pagination
     *
     * @param {MktAgiApi.GetWisdomCommunityRequest} request
     * @param {WisdomCommunityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.wisdomCommunity.listCommunities()
     */
    public listCommunities(
        request: MktAgiApi.GetWisdomCommunityRequest = {},
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__listCommunities(request, requestOptions));
    }

    private async __listCommunities(
        request: MktAgiApi.GetWisdomCommunityRequest = {},
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { offset, limit } = request;
        const _queryParams: Record<string, unknown> = {
            offset,
            limit,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "wisdom/community",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/wisdom/community");
    }

    /**
     * Create a new community
     *
     * @param {MktAgiApi.PostWisdomCommunityRequest} request
     * @param {WisdomCommunityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.UnprocessableEntityError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.wisdomCommunity.createCommunity({
     *         "key": "value"
     *     })
     */
    public createCommunity(
        request: MktAgiApi.PostWisdomCommunityRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCommunity(request, requestOptions));
    }

    private async __createCommunity(
        request: MktAgiApi.PostWisdomCommunityRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse>
    > {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                "wisdom/community",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new MktAgiApi.UnprocessableEntityError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/wisdom/community");
    }

    /**
     * Get a community by ID
     *
     * @param {MktAgiApi.GetWisdomCommunityIdRequest} request
     * @param {WisdomCommunityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.NotFoundError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.wisdomCommunity.getCommunity({
     *         id: 1
     *     })
     */
    public getCommunity(
        request: MktAgiApi.GetWisdomCommunityIdRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCommunity(request, requestOptions));
    }

    private async __getCommunity(
        request: MktAgiApi.GetWisdomCommunityIdRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse>
    > {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                `wisdom/community/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/wisdom/community/{id}");
    }

    /**
     * Delete a community and disassociate its wisdoms
     *
     * @param {MktAgiApi.DeleteWisdomCommunityIdRequest} request
     * @param {WisdomCommunityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.NotFoundError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.wisdomCommunity.deleteCommunity({
     *         id: 1
     *     })
     */
    public deleteCommunity(
        request: MktAgiApi.DeleteWisdomCommunityIdRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebWisdomDeleteVo> {
        return core.HttpResponsePromise.fromPromise(this.__deleteCommunity(request, requestOptions));
    }

    private async __deleteCommunity(
        request: MktAgiApi.DeleteWisdomCommunityIdRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebWisdomDeleteVo>
    > {
        const { id } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                `wisdom/community/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebWisdomDeleteVo,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/wisdom/community/{id}");
    }

    /**
     * Update a community's fields
     *
     * @param {MktAgiApi.PatchWisdomCommunityIdRequest} request
     * @param {WisdomCommunityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link MktAgiApi.BadRequestError}
     * @throws {@link MktAgiApi.UnauthorizedError}
     * @throws {@link MktAgiApi.NotFoundError}
     * @throws {@link MktAgiApi.UnprocessableEntityError}
     * @throws {@link MktAgiApi.InternalServerError}
     *
     * @example
     *     await client.wisdomCommunity.updateCommunity({
     *         id: 1,
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public updateCommunity(
        request: MktAgiApi.PatchWisdomCommunityIdRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): core.HttpResponsePromise<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateCommunity(request, requestOptions));
    }

    private async __updateCommunity(
        request: MktAgiApi.PatchWisdomCommunityIdRequest,
        requestOptions?: WisdomCommunityClient.RequestOptions,
    ): Promise<
        core.WithRawResponse<MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse>
    > {
        const { id, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MktAgiApiEnvironment.Default,
                `wisdom/community/${core.url.encodePathParam(id)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxResultInternalWisdomInternalWebCommunityResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new MktAgiApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new MktAgiApi.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new MktAgiApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new MktAgiApi.UnprocessableEntityError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                case 500:
                    throw new MktAgiApi.InternalServerError(
                        _response.error.body as MktAgiApi.GithubComMktAgiAixInternalPkgGinxCodeResp,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.MktAgiApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/wisdom/community/{id}");
    }
}
